{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/inside.css') }}">
    <style>
        .newWindow form input, .newWindow form select {
            width: 100%;
        }
        .newWindow button {
            padding: 10px 35px;
            margin: 10px 10px 10px 0;
            background: #ff7f2a;
            border: none;
            cursor: pointer;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <body onresize="windowSize()">
        {% block header %}
            {{ include ('inside/horizontal-menu.html.twig') }}
        {% endblock %}

        {% block content %}
            {% block side %}
                <section>
                    <div id="sideNavigation" class="sideNavigation">

                        {{ include ('inside/vertical-menu-part0.html.twig') }}

                        {{ include ('inside/vertical-menu-part1.html.twig') }}

                        {{ include ('inside/vertical-menu-part2.html.twig') }}

                        {{ include ('inside/vertical-menu-part3.html.twig') }}

                    </div>
                </section>
            {% endblock %}

            {% block section %}
                <section>
                    <div id="main">

                        {{ include ('inside/new-document.html.twig') }}

                        {% for i in 1..12 %}
                            <article id={{ i }}>
                                {% block table %}
                                    {% if i <= 6 or i == 11%}
                                        {{ include ('inside/table.html.twig') }}
                                    {% elseif i >= 7 and i <= 10 %}
                                        <div class="displayCenter">
                                            <img class="emptyImage" src="{{ asset('images/folder1.png') }}" alt="Empty Folder"/>
                                            <div>Nėra dokumentų, priskirtų šiai kategorijai</div>
                                        </div>
                                    {% elseif i == 12 %}
                                        <div class="displayCenter">
                                            <img class="emptyImage" src="{{ asset('images/tag1.png') }}" alt="Empty Folder"/>
                                            <div>Nėra dokumentų su šia etikete</div>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </article>
                        {% endfor %}

                    </div>
                </section>
            {% endblock %}
        {% endblock %}
            </div>
        </section>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script>
            let table = document.getElementsByTagName("table")[0];
            if (table) {
                table.addEventListener("click", (e) => {
                    if (e.target.className === "delete") {
                        console.log("test");
                        const id = e.target.getAttribute("data-id");
                        fetch(`/delete/${id}`, {
                            method: "DELETE"
                        }).then(window.location.reload());
                    }
                });
            }

            if (table) {
                table.addEventListener("click", (e) => {
                    e.preventDefault();
                    if (e.target.className === "edit") {
                        const id = e.target.getAttribute("data-id");
                        $.ajax({
                            url:        '/',
                            type:       'POST',
                            async:      true,
                            data: {
                                id: id
                            },
                            success: function(data) {
                                $("#form_docName").val(data.docName);
                                $("#form_docDate").val(data.docDate);
                                $("#form_docExpires").val(data.docExpires);
                                let reminder = $("#form_docReminder");
                                if(reminder) {
                                    reminder.val(data.docReminder);
                                }
                                $("#form_category_id option[value= "+ data.docCategory +"]").prop('selected', true);
                                Display();
                            },
                        });
                    }
                });
            }
        </script>
    {% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/landing.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}