{% block newDocument %}
    <div>
        <button id="addDocumentButton" class="addDocumentButton">
            Sukurti naują dokumentą..
        </button>
    </div>

    <div id="newDocumentWindow" class="newDocumentWindow">
        <div class="newWindow">
            {% if form %}
                {{ form_start(form) }}
                {{ form_row(form.documentName) }}
                {{ form_row(form.category) }}
                {{ form_row(form.documentDate) }}
                {{ form_row(form.documentExpires) }}
                {{ form_row(form.documentReminder) }}
                <label for="tags">Etiketės</label>
                <ul style="list-style: none; padding: 0;" class="tags" data-prototype="{{ form_widget(form.tag.vars.prototype)|e('html_attr') }}">
                    {% for tag in form.tag %}
                        <li>{{ form_row(tag.tagName) }}</li>
                    {% endfor %}
                </ul>
                <input type="file" accept="image/*" capture="camera">
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}