{% block table %}
    <div>
        <table id="largeTable" class="documentsTable">
            <tr>
                <th>Pavadinimas</th>
                <th>Kategorija</th>
                <th>Etiketės</th>
                <th>Priedai</th>
                <th>Galioja nuo</th>
                <th>Galioja iki</th>
                <th>Priminimas</th>
                <th>Pastabos</th>
                <th>Veiksmai</th>
            </tr>

            {% for file in files %}

                <tr>
                    <td>{{ file.documentName }}</td>
                    <td>{{ file.getCategory().getCategoryName() }}</td>
                    <td>Etiketės </td>
                    <td>Files </td>
                    
                    {% if file.DocumentDate == NULL %}
                        <td></td>
                        {% else %}
                            <td>{{ file.DocumentDate | date("Y-m-d") }}</td>
                    {% endif %}
                    {% if file.DocumentExpires == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocumentExpires|date("Y-m-d") }}</td>
                    {% endif %}
                    {% if file.DocumentReminder == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocumentReminder|date("Y-m-d") }}</td>
                    {% endif %}
                    {% if file.DocumentNotes == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocumentNotes }}</td>
                    {% endif %}
                    <td>
                        <span><img class="edit" src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti" data-id="{{ file.id }}"/></span>
                        <span><img class="delete" src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą" data-id="{{ file.id }}"/></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="smallTable" class="documentsTable">
            <tr>
                <th colspan="2">Pavadinimas</th>
                <th>Kategorija</th>
                <th>Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td>
                        <div class="clickAndChange" data-row-nr="{{ loop.index }}">
                            <img src="{{ asset('images/show-more-button.png') }}" id="imgClickAndChange{{ loop.index }}" alt="Rodyti daugiau" title="Rodyti daugiau"/>
                        </div>
                    </td>
                    <td>{{ file.documentName }}</td>
                    <td>{{ file.getCategory().getCategoryName() }}</td>
                    <td>
                        <div><img class="edit" src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti" data-id="{{ file.id }}"/></div>
                        <div><img class="delete" src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą" data-id="{{ file.id }}"/></div>
                    </td>
                </tr>
                <tr id="displayMoreData{{ loop.index }}" class="displayMoreData">
                    <td></td>
                    <td colspan="4">
                        <div class="tabName">Etiketės: </div><div class="tabContent">Etiketės</div>
                        <div class="tabName">Priedai: </div><div class="tabContent">Files</div>
                        <div class="tabName">Galioja nuo: </div><div class="tabContent">{{ file.DocumentDate | date("Y-m-d") }}</div>
                        <div class="tabName">Galioja iki: </div><div class="tabContent">{{ file.DocumentExpires | date("Y-m-d") }}</div>
                        <div class="tabName">Priminimas: </div><div class="tabContent">{{ file.DocumentReminder | date("Y-m-d") }}</div>
                        <div class="tabName notes">Pastabos: </div><div class="tabContent">{{ file.DocumentNotes }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}