{% block table %}
    <div>
        <table class="largeTable">
            <tr>
                <th>Pavadinimas</th>
                <th>Kategorija</th>
                <th>Etiketės</th>
                <th>Priedai</th>
                <th>Galioja nuo</th>
                <th>Galioja iki</th>
                <th>Priminimas</th>
                <th>Pastabos</th>
                <th colspan="2">Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td>{{ file.getDocName() }}</td>
                    {#<td>{{ file.getCategoryId() }}</td>#}
                    <td>Kategorija 1</td>
                    <td>Etiketės </td>
                    <td>Files </td>
                    <td>{{ file.getDocDate()|date("Y-m-d") }}</td>
                    <td>{{ file.getDocExpires()|date("Y-m-d") }}</td>
                    <td>{{ file.getDocReminder()|date("Y-m-d") }}</td>
                    <td>Pastabos</td>
                    <td>
                        <a href="javascript:display()"><img src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti"/></a>
                    </td>
                    <td>
                        <a href="#"><img src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą"/></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table class="smallTable" id="smallTable">
            <tr>
                <th colspan="2">Pavadinimas</th>
                <th>Kategorija</th>
                <th colspan="2">Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td><a href="javascript:toggle({{ loop.index }})"><img src="{{ asset('images/show-more-button.png') }}" id="imgClickAndChange{{ loop.index }}" alt="Rodyti daugiau" title="Rodyti daugiau"/></a></td>
                    <td>{{ file.getDocName() }}</td>
                    {#<td>{{ file.getCategoryId() }}</td>#}
                    <td>Kategorija 1</td>
                    <td>
                        <a href="javascript:display()"><img src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti"/></a>
                    </td>
                    <td>
                        <a href="#"><img src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą"/></a>
                    </td>
                </tr>
                <tr id="displayMoreData{{ loop.index }}" class="displayMoreData">
                    <td></td>
                    <td colspan="4">
                        <b>Etiketės: </b>Etiketės<br>
                        <b>Priedai: </b>Files<br>
                        <b>Galioja nuo: </b>{{ file.getDocDate()|date("Y-m-d") }}<br>
                        <b>Galioja iki: </b>{{ file.getDocExpires()|date("Y-m-d") }}<br>
                        <b>Priminimas: </b> {{ file.getDocReminder()|date("Y-m-d") }}<br>
                        <b>Pastabos: </b>Pastabos
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}