{% block table %}
    <div>
        <table id="largeTable" class="documentsTable">
            <tr>
                <th>Pavadinimas</th>
                <th>Kategorija</th>
                <th>Etiketės</th>
                <th>Priedai</th>
                <th>Galioja nuo</th>
                <th>Galioja iki</th>
                <th>Priminimas</th>
                <th>Pastabos</th>
                <th colspan="2">Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td>{{ file.getDocName() }}</td>
                    {#<td>{{ file.getCategoryId() }}</td>#}
                    <td>Kategorija 1</td>
                    <td>Etiketės </td>
                    <td>Files </td>
                    
                    {% if file.DocDate == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocDate|date("Y-m-d") }}</td>
                    {% endif %}

                    {% if file.DocExpires == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocExpires|date("Y-m-d") }}</td>
                    {% endif %}

                    {% if file.DocReminder == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocReminder|date("Y-m-d") }}</td>
                    {% endif %}

                    <td>
                        <div class="notes">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </div>
                    </td>
                    <td>
                        <span><img class="edit" src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti" data-id="{{ file.id }}"/></span>
                        <span><img class="delete" src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą" data-id="{{ file.id }}"/></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="smallTable" class="documentsTable">
            <tr>
                <th colspan="2">Pavadinimas</th>
                <th>Kategorija</th>
                <th colspan="2">Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td>
                        <span class="clickAndChange" data-row-nr="{{ loop.index }}">
                        <img src="{{ asset('images/show-more-button.png') }}" id="imgClickAndChange{{ loop.index }}" alt="Rodyti daugiau" title="Rodyti daugiau"/></span></td>
                    <td>{{ file.getDocName() }}</td>
                    {#<td>{{ file.getCategoryId() }}</td>#}
                    <td>Kategorija 1</td>
                    <td>
                        <span><img class="edit" src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti" data-id="{{ file.id }}"/></span>
                        <span><img class="delete" src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą" data-id="{{ file.id }}"/></span>
                    </td>
                </tr>
                <tr id="displayMoreData{{ loop.index }}" class="displayMoreData">
                    <td></td>
                    <td colspan="4">
                        <div class="tabName">Etiketės: </div><div class="tabContent">Etiketės</div>
                        <div class="tabName">Priedai: </div><div class="tabContent">Files</div>
                        <div class="tabName">Galioja nuo: </div><div class="tabContent">{{ file.getDocDate()|date("Y-m-d") }}</div>
                        <div class="tabName">Galioja iki: </div><div class="tabContent">{{ file.getDocExpires()|date("Y-m-d") }}</div>
                        <div class="tabName">Priminimas: </div><div class="tabContent">{{ file.getDocReminder()|date("Y-m-d") }}</div>
                        <div class="tabName notes">Pastabos: </div><div class="tabContent">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}