{% block table %}
    <div style="overflow-x:auto;">
        <table >
            <tr>
                <th>Pavadinimas</th>
                <th>Kategorija</th>
                <th>Etiketės</th>
                <th>Priedai</th>
                <th>Galioja nuo</th>
                <th>Galioja iki</th>
                <th>Priminimas</th>
                <th>Pastabos</th>
                <th colspan="2">Veiksmai</th>
            </tr>

            {% for file in files %}
                <tr>
                    <td>{{ file.docName }}</td>
                    <td>{{ categories[file.CategoryId].CategoryName }}</td>
                    <td>Etiketės </td>
                    <td>Files </td>
                    {% if file.DocDate == NULL %}
                        <td></td>
                        {% else %}
                            <td>{{ file.DocDate|date("Y/m/d") }}</td>
                    {% endif %}
                    {% if file.DocExpires == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocExpires|date("Y/m/d") }}</td>
                    {% endif %}
                    {% if file.DocReminder == NULL %}
                        <td></td>
                    {% else %}
                        <td>{{ file.DocReminder|date("Y/m/d") }}</td>
                    {% endif %}



                    <td>Pastabos</td>
                    <td>
                        <a href="javascript:Display();"><img src="{{ asset('images/edit1.png') }}" alt="Redagavimas" title="Redaguoti"/></a>
                    </td>
                    <td>
                        <a href="#"><img src="{{ asset('images/delete.png') }}" alt="Ištrinimas" title="Ištrinti įrašą" data-id="{{ file.id }}"/></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}